<app-header titulo="Bodegas"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let bodega of bodegas" lines="full">
      <ion-label id="img_bodegas">
        <img [src]="bodega.img" alt="Imagen de la bodega">
      </ion-label>
      <ion-card-header>
        <ion-card-title>{{ bodega.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-content>Comuna: {{ bodega.comuna }}</ion-card-content>
        <ion-card-content>Region : {{ bodega.region }}</ion-card-content>
        <ion-card-content>Direccion: {{ bodega.telefono }}</ion-card-content>
        <ion-card-content>Telefono: {{ bodega.telefono }}</ion-card-content>
        <ion-button (click)="editarbodega(bodega.id)">Editar</ion-button>
        <ion-button type="button" shape="round" color="danger" expand="block" (click)="eliminar(bodega.id)">Eliminar</ion-button>
      </ion-card-content>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/admin/bodega-agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
