<app-header titulo="Proveedores"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let proveedor of proveedores" lines="full">
      <ion-card-header>
        <ion-card-title>{{ proveedor.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Turno del Proveedor: {{ proveedor.direccion }}</ion-card-title>
        <ion-card-title>Turno del Proveedor: {{ proveedor.rut_empresa }}</ion-card-title>
        <ion-card-content>Comuna: {{ proveedor.telefono }}</ion-card-content>
        <ion-card-content>Region : {{ proveedor.email }}</ion-card-content>
        <ion-button (click)="editarproveedor(proveedor.id)">Editar</ion-button>
        <ion-button type="button" shape="round" color="danger" expand="block" (click)="eliminar(proveedor.id)">Eliminar</ion-button>
      </ion-card-content>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/admin/provedores-agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

