<app-header titulo="Agregar Bodegas"></app-header>


<ion-content padding>
  <form [formGroup]="bodegaform"  (ngSubmit)="onFormSubmit(bodegaform.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="bodega.nombre" formControlName="bodega_nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Direccion</ion-label>
      <ion-input type="text" [(ngModel)]="bodega.direccion" formControlName="bodega_direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Comuna</ion-label>
      <ion-input type="text" [(ngModel)]="bodega.comuna" formControlName="bodega_comuna"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Region</ion-label>
      <ion-input type="text" [(ngModel)]="bodega.region" formControlName="bodega_region"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefono</ion-label>
      <ion-input type="text" [(ngModel)]="bodega.telefono" formControlName="bodega_telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Imagen</ion-label>
      <ion-input type="text" [(ngModel)]="bodega.img" formControlName="bodega_img"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!bodegaform.valid">Submit</ion-button>
  </form>
</ion-content>

