<ion-header>
  <ion-toolbar>
    <ion-title>
      Interfaz Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" routerLink="/categoria">Ir a categorias</ion-button>
  <ion-button expand="full" routerLink="/subcategoria">Ir a subcategorias2</ion-button>
  <ion-button expand="full" routerLink="/producto">Ir a productos</ion-button>
  <ion-button expand="full" routerLink="/provedores">Ir a proveedores</ion-button>
  <ion-button expand="full" routerLink="/bodegas">Ir a bodegas</ion-button>
  <ion-button expand="full" routerLink="/locales">Ir a locales</ion-button>
  <ion-button expand="full" routerLink="/empleados">Ir a empleados</ion-button>
</ion-content>
