<app-header titulo="Interfaz admin"></app-header>


<ion-content class="menu-items" slot="fixed" >
  <ion-button expand="block" size="default" routerLink="/admin/categoria">Ir a categorías</ion-button>
  <ion-button expand="block"  size="default" routerLink="/admin/subcategoria">Ir a subcategorías</ion-button>
  <ion-button expand="block" size="default" routerLink="/admin/producto">Ir a productos</ion-button>
  <ion-button expand="block" size="default" routerLink="/admin/locales">Ir a locales</ion-button>
  <ion-button expand="block" size="default" routerLink="/admin/empleados">Ir a empleados</ion-button>
  
</ion-content>
