<ion-header>
  <ion-toolbar>
    <ion-title>
      Interfaz Admin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full" routerLink="/admin/categoria">Ir a categorías</ion-button>
  <ion-button expand="full" routerLink="/admin/subcategoria">Ir a subcategorías</ion-button>
  <ion-button expand="full" routerLink="/admin/producto">Ir a productos</ion-button>
  <ion-button expand="full" routerLink="/admin/provedores">Ir a proveedores</ion-button>
  <ion-button expand="full" routerLink="/admin/bodega">Ir a bodegas</ion-button>
  <ion-button expand="full" routerLink="/admin/locales">Ir a locales</ion-button>
  <ion-button expand="full" routerLink="/admin/empleados">Ir a empleados</ion-button>
  
</ion-content>
