.Formulario{
    --background: rgb(86, 128, 218);
    --border-width: 1px;
    color: white;
    --border-radius: 20px;
    
}



.xd1 {
    position: absolute;
    bottom: 83%;
}

.xd2 {
    position: absolute;
    bottom: 75%;
}

.xd3 {
    position: absolute;
    bottom: 67%;
}