<app-header titulo="Editar Categoria"></app-header>


<ion-content padding>
  <form [formGroup]="categoriaForm"  (ngSubmit)="onformSubmit(categoriaForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre del Producto</ion-label>
      <ion-input type="text" [(ngModel)]="categoria.nombre" formControlName="categoria_nombre"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!categoriaForm.valid">Submit</ion-button>
  </form>
</ion-content>