<app-header titulo="Editar local"></app-header>

<ion-content padding>
  <form [formGroup]="localForm" (ngSubmit)="onformSubmit(localForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre del Local</ion-label>
      <ion-input type="text"  formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección del Local</ion-label>
      <ion-input type="text"  formControlName="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Comuna</ion-label>
      <ion-input type="text"  formControlName="comuna"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Región</ion-label>
      <ion-input type="text"  formControlName="region"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="text"  formControlName="telefono"></ion-input>
    </ion-item>
    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!localForm.valid">Submit</ion-button>
  </form>
</ion-content>
