
<app-header titulo="Agregar Categoria"></app-header>


<ion-content>
  <ion-loading *ngIf="loading" message="Cargando..." duration="0" translucent="true"></ion-loading>
  
  <ion-card>
    <ion-card-content>
      <form [formGroup]="crearCategoriaForm" (ngSubmit)="agregarcategoria()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre de la Categoría</ion-label>
            <ion-input formControlName="nombre" type="text"></ion-input>
          </ion-item>
        </ion-list>
        <div class="ion-padding">
          <ion-button expand="full" type="submit" [disabled]="loading">Agregar Categoría</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
