<app-header titulo="Locales"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let local of locales" lines="full">
      <ion-label id="img_locales">
        <img class="img" [src]="local.img" alt="Imagen del local">
      </ion-label>
      <ion-card-header>
        <ion-card-title>{{ local.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Direccion del local: {{ local.direccion }}</ion-card-title>
        <ion-card-content>Comuna: {{ local.comuna }}</ion-card-content>
        <ion-card-content>Region : {{ local.region }}</ion-card-content>
        <ion-card-content>Direccion: {{ local.direccion }}</ion-card-content>
        <ion-card-content>Telefono: {{ local.telefono }}</ion-card-content>
        <ion-button  shape="round" expand="block" (click)="editarlocal(local.id)">Editar</ion-button>
        <ion-button type="button" shape="round" color="danger" expand="block" (click)="eliminarlocal(local.id)">Eliminar</ion-button>
      </ion-card-content>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/admin/locales-agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
