<app-header titulo="Productos"></app-header>

<ion-content>
  <ion-card class="producto-carta" *ngFor="let producto of productos" >
    <img class="img" [src]="producto.img" alt="Imagen del Producto">
    <ion-card-header>
      <ion-card-title class="nombre-producto">{{ producto.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-title class="precio">Precio: {{formatNumber (producto.precio) }}</ion-card-title>
    <ion-card-content>
      <ng-container *ngIf="producto.tipo_producto === 'GPU'">
        <ion-card-content class="contenido">GPU: {{ producto.gpu }}</ion-card-content>
        <ion-card-content class="contenido">Memoria: {{ producto.memoria }}</ion-card-content>
        <ion-card-content class="contenido">Frecuencia: {{ producto.frecuencia }}</ion-card-content>
        <ion-card-content class="contenido">Bus: {{ producto.bus }}</ion-card-content>
      </ng-container>

      <ng-container *ngIf="producto.tipo_producto === 'RAM'">
        <ion-card-content class="contenido">Capacidad: {{ producto.capacidad }}</ion-card-content>
        <ion-card-content class="contenido">Tipo: {{ producto.tipo }}</ion-card-content>
        <ion-card-content class="contenido">Formato: {{ producto.formato }}</ion-card-content>
        <ion-card-content class="contenido">Voltaje: {{ producto.voltaje }}</ion-card-content>
      </ng-container>
      <br>
      <ion-button *ngIf="login === false" (click)="agregaralcarro(producto)" >Agregar al carrito</ion-button>
      <ion-button *ngIf="login === true" (click)="agregarAlCarrito(producto)">Loged</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>