<app-header titulo="Producto"></app-header>
<ion-content>
  <ion-card class="producto-carta" *ngFor="let producto of productos">
    <img class="img" [src]="producto.img" alt="Imagen del Producto">
    <ion-card-header>
      <ion-card-title class="nombre-producto">{{ producto.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-title class="precio">Precio: {{formatNumber (producto.precio) }}</ion-card-title>
    <ion-card-content>
      <ng-container *ngIf="producto.tipo_producto === 'GPU'">
        <ion-card-content class="contenido">-GPU: {{ producto.gpu }}</ion-card-content>
        <ion-card-content class="contenido">-Memoria: {{ producto.memoria }}</ion-card-content>
        <ion-card-content class="contenido">-Frecuencia: {{ producto.frecuencia }}</ion-card-content>
        <ion-card-content class="contenido">-Bus: {{ producto.bus }}</ion-card-content>
      </ng-container>

      <ng-container *ngIf="producto.tipo_producto === 'RAM'">
        <ion-card-content class="contenido">-Capacidad: {{ producto.capacidad }}</ion-card-content>
        <ion-card-content class="contenido">-Tipo: {{ producto.tipo }}</ion-card-content>
        <ion-card-content class="contenido">-Formato: {{ producto.formato }}</ion-card-content>
        <ion-card-content class="contenido">-Voltaje: {{ producto.voltaje }}</ion-card-content>
      </ng-container>
      <ion-fab slot="fixed" horizontal="start">
        <ion-fab-button  color="medium" size="small">
          <ion-icon name="caret-forward-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-fab-button color="warning" (click)="editarProductos(producto.id)"  >
            <ion-icon name="create-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="danger" (click)="eliminarproducto(producto.id)">
            <ion-icon name="trash-outline" ></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      <ion-card-title class="precio">Stock: {{ producto.stock }}</ion-card-title>
      <br>
    </ion-card-content>
  </ion-card>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/admin/producto-agregar">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
