.producto-carta{
    background: #7590d6;
    background: linear-gradient(90deg, #7590d6 0%, #4d71d7 100% );
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    border-radius: 50px 50px 50px 50px;
    height: 800px ;
    width: 500px;
    left: 70px;

}


.contenido{
    color: white;
    text-align: left;
    left: 35px;
}
        



.precio{
    color: white;
    text-align: left;
    left: 70px;
}

.nombre-producto{
    color: white;
    text-align: center;

    
}

.producto-carta{
    justify-content: space-evenly;
    text-align: center;

    
}

.img{
    height: 400px;
    width: 400px;
}